# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environments
venv/
ENV/
env/

# Logs
*.log

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# SSL certs
certs/*.key
certs/*.crt
certs/*.pem

# Github
.github/
